{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    {% set columns=[
        'id',
        'name',
        'description',
        'sourceReference'
    ] %}
    <twig:grid
        :data="packages"
        :caller="_self"
        :columns="columns"
    >
        <twig:block name="description">
            {{ row.description|u.wordwrap(25)|nl2br  }}
            {% if row.homepage %}
            <a href="{{ row.homepage }}" target="_blank">More...</a>
            {% endif %}
        </twig:block>
        <twig:block name="id">
            {{ loop.index }}

        </twig:block>
        <twig:block name="sourceReference">
            {{ row.sourceReference|slice(0,6) }}
        </twig:block>
        <twig:block name="name">
{#            {{ loop.first ? dump(row) }}#}
            <a href="{{ row.sourceUrl }}" target="_blank">
                {{ row.name }}
            </a>
        </twig:block>



    </twig:grid>

{% endblock %}
